

#sync1 .item {
    width: 50%;
    background: orange;
    padding: 80px 0px;
    margin: 0 auto;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}


#sync2 .item {
    background: #00c910;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}


#sync2 .item h1 {
    font-size: 18px;
}


#sync2 .current .item {
    background: #e71f15;
}


.owl-theme .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
}



.owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}


.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#sync1.owl-theme {
    position: relative;
}


#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
#sync1.owl-theme .owl-prev {
    left: 10px;
}
#sync1.owl-theme .owl-next {
    right: 10px;
}
